.left-section {
  height: var(--main-container-height);
  color: white;
  border-right: solid thin rgba(242, 225, 166, 0.5);
}

.left-section {
  transition-duration: 1s;
}
/*=========================================*/
/*Search Bar*/
/*=========================================*/
.search-bar-container {
  width: 100%;
  padding: 10px;
}

.search-bar {
  display: flex;
}

.search-bar span {
  height: 2.5rem;
  width: 60px;
  background: rgba(242, 225, 166, 0.5);
  text-align: center;
  padding-top: 4px;
}

.search-bar span img {
  height: 2rem;
  width: 2rem;
  transform: scale(0.8);
}

.search-bar input {
  height: 2.5rem;
  width: 100%;
  background: transparent;
  border: solid thin rgba(242, 225, 166, 0.5);
  color: white;
}

/*=========================================*/
/*Artwork Info*/
/*=========================================*/
.artwork-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.artwork-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 15px 0 15px;
}

.title {
  font-family: 'Georgia', sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

.name-year-country {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: baseline;
  gap: 3px;
  font-size: 0.6rem;
  color: #999999;
}

.artist-name {
  font-size: 1rem;
  color: #f2e1a6;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #afafaf;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*The simple bar hold the description for scrolling*/
.simplebar {
  margin-top: 20px;
  max-height: 270px;
  /* width: 100%; */
}

.simplebar-scrollbar {
  background: rgba(175, 175, 175, 0.2);
  border-radius: 7px;
  margin-left: 8px;
}

/*=========================================*/
/*Buttons*/
/*=========================================*/
.buttons {
  padding-left: 15px;
  display: flex;
  gap: 10px;
}

.buttons button {
  border: none;
  height: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  background-color: transparent;
  border: solid thin rgba(242, 225, 166, 0.5);
  color: #afafaf;
}
