@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Roboto:wght@400&display=swap');

.homepage-container {
  background-color: black;
  width: 100vw;
  height: var(--main-container-height);
}

.main-container {
  height: var(--main-container-height);
  width: 100vw;
  display: flex;
}
