* {
  --landing-page-height: calc(100vh - var(--nav-bar-height));

  --main-container-height: calc(100vh - var(--nav-bar-height));
  --main-container-width: 80vw;

  --header-height: calc(var(--main-container-height) * 1 / 3);
  --header-width: var(--main-container-width);

  --login-section-height: calc(var(--main-container-height) * 1.5 / 3);
  --login-section-width: calc((var(--main-container-width) * 2 / 3));

  --oauth-container-height: 150px;
}

/*=========================================*/
/*LANDING PAGE MAIN SECTION STYLES*/
/*=========================================*/
.landing-page main {
  height: var(--main-container-height);
  width: var(--main-container-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*=========================================*/
/*LANDING PAGE BACKGROUND IMAGE*/
/*=========================================*/
.landing-page {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/src/resources/DP-19264-000.jpg');
  background-size: 2400px;
  background-position: 0% 100%;
  height: var(--landing-page-height);
}

/*=========================================*/
/*LANDING PAGE HEADER STYLES*/
/*=========================================*/
.landing-page header {
  height: var(--header-height);
  width: var(--header-width);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.landing-page header h1 {
  width: var(--header-width);
  color: red;
  font-family: 'Libre Baskerville', serif;
  font-size: 5.5rem;
  font-weight: 100;
  text-align: center;
  margin-top: 3rem;
}

.landing-page header div {
  background-color: white;
  height: 1px;
  width: 300px;
}

.landing-page header p {
  width: var(--header-width);
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.1rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 3rem;
}

.landing-page header p span {
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
  color: rgb(255, 179, 0);
}

/*=========================================*/
/*LANDING PAGE LOGIN STYLES*/
/*=========================================*/

/*OAuth Styles*/
.landing-page main > section {
  height: var(--login-section-height);
  width: var(--login-section-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.oauth-container {
  height: var(--oauth-container-height);
  width: var(--oauth-container-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.oauth-item {
  width: 320px;
  height: 60px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 0.8rem;
}
/*The section that contains the OAuth image*/
.oauth-item section:nth-child(1) {
  width: 75px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*The OAuth image itself*/
.oauth-item img {
  height: 2rem;
  width: 2rem;
}

.oauth-item section:nth-child(2) {
  margin: auto;
}

/*Guest Login*/
.guest-login {
  width: 320px;
  height: 60px;
  background-color: #367ec0;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

/*OR text*/
.landing-page section p {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2rem;
}
/*=========================================*/
/*MEDIA QUERIES*/
/*=========================================*/

@media screen and (min-width: 1007px) {
  .oauth-item,
  .guest-login,
  .landing-page header div {
    width: 500px;
  }
}

/* @media screen and (max-width: 1024px) {
  .landing-page header div {
    width: 371.41px;
  }

  
}

@media screen and (max-width: 768px) {
  .oauth-item,
  .guest-login,
  .oauth-container,
  .landing-page main > section {
    width: 400px;
  }
} */

/* @media screen and (max-width: 640px) {
  .oauth-item,
  .guest-login,
  .oauth-container,
  .landing-page main > section {
    width: 300px;
  }
} */
