.top {
  height: 50%;
  width: 100%;
  gap: 20px;
}

/*=========================================*/
/*LEFT SIDE OF TOP*/
/*=========================================*/
.top-left {
  height: 100%;
  width: 60%;
  /* gap: 5px; */
}
/*-------------------------------------*/
.featured-artist-container {
  height: 100%;
  width: 100%;
  gap: 5px;
}

.featured-artist-container header {
  height: 75px;
  width: 100%;
  background-color: rgb(248, 161, 46);
}

.featured-artist-container header h2 {
  font-family: 'Comfortaa', cursive;
  font-weight: 100;
  color: white;
  font-size: 3rem;
  letter-spacing: 0.9rem;
  padding-left: 1rem;
  padding-top: 5px;
}

.featured-artist-container .sub-container {
  height: 100%;
  width: 100%;
  gap: 5px;
}

.sub-container .featured-artist:nth-child(1) {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.sub-container .featured-artist:nth-child(2) {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.featured-artist {
  height: 100%;
  width: 50%;
  justify-content: flex-end;
}

.featured-artist:hover {
  cursor: pointer;
}

.featured-artist-description {
  height: 15%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  color: #f2e1a6;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*=========================================*/
/*RIGHT SIDE OF TOP*/
/*=========================================*/
.top-right {
  height: 100%;
  width: 40%;
  gap: 5px;
}

/*------------------------------*/
.random-art {
  height: 100%;
  width: 100%;
  gap: 5px;
}

.random-art header {
  height: 75px;
  width: 100%;
  background-color: rgb(248, 161, 46);
  position: relative;
  cursor: pointer;
}

.random-art header:hover {
  background-color: rgb(248, 96, 46);
  transition: 500ms;
}

/* .random-art header button {
  position: absolute;
  height: 100%;
  width: 22px;
  top: 0;
  right: 0;
  background-color: var(--main-color);
  border: none;
} */

.random-art header button:active {
  /* background-color: var(--main-color--accent); */
  box-shadow: inset 1px 4px 4px rgba(0, 0, 0, 0.4);
}

.random-art header h2 {
  font-family: 'Comfortaa', cursive;
  font-weight: 100;
  color: white;
  font-size: 3rem;
  letter-spacing: 0.9rem;
  padding-left: 1rem;
  padding-top: 5px;
}

.random-art section {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.random-art section div {
  background-size: 300px;
  background-position: center;
  transition-duration: 500ms;
}

.random-art section div:hover {
  background-size: 350px;
  transition-duration: 500ms;
  cursor: pointer;
}

.random-art section div div:nth-child(1) {
  height: 80%;
  width: 100%;
}

.random-art section div div:nth-child(2) {
  height: 20%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.random-art-card h3 {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
  padding: 10px;
}
