* {
  --image-scale: 189.5px;
}

.modal-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  height: 650px;
  width: 1350px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.left {
  background-color: white;
  height: 100%;
  width: 70%;
  padding: 40px 20px 20px 20px;
}

.current-image {
  height: 100%;
  width: 100%;
  background-color: rgb(236, 236, 236);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.current-image-info {
  font-family: 'Roboto';
  gap: 5px;
  padding: 5px;
  padding-top: 20px;
}

.current-image-info h3 {
  font-weight: 700;
  font-style: italic;
}

.current-image-info h4 {
  padding-top: 5px;
  font-weight: 500;
  color: rgb(151, 137, 61);
}

.current-image-info h5 {
  font-size: 0.8rem;
  font-weight: 500;
}

/*=========================================*/
.right {
  height: 100%;
  width: 30%;
  padding: 40px 17px 20px 0;
  background-color: white;
}

.images-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, var(--image-scale));
  grid-template-rows: repeat(5, var(--image-scale));
  grid-auto-columns: var(--image-scale);
  grid-auto-rows: var(--image-scale);
  gap: 2px;
  /* border: solid red; */
  overflow: auto;
}

.image-div {
  background-color: rgb(236, 236, 236);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal button {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 30px;
  width: 30px;
  font-size: 2rem;
  border: none;
  color: lightgray;
  background-color: white;
  font-family: 'Comfortaa';
  font-weight: 700;
  cursor: pointer;
}
