* {
  --nav-bar-height: 2rem;
}

nav {
  height: var(--nav-bar-height);
  width: 100%;
  background-color: rgba(234, 27, 27, 0.85);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 0.2rem 0;
  width: 5rem;
}

li {
  list-style: none;
  font-family: 'Libre Baskerville', serif;
  color: rgb(255, 255, 255);
}

.image {
  height: 2rem;
  width: 4.1rem;
  background-color: brown;
}
