* {
  --nav-container-height: 2rem;
}

.nav-container {
  height: var(--nav-container-height);
  margin-top: 10px;
  /* position: absolute; */
}

nav {
  height: 100%;
  width: 1300px;
  margin: auto;
  display: flex;
  gap: 3px;
}

ul {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  border: solid thin var(--main-color);
}

li {
  list-style: none;
  background-color: var(--main-color);
}

li div {
  height: 100%;
  width: 100px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

.logo {
  height: 100%;
  width: 100px;
  background-color: var(--main-color);
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 1.6rem;
  color: white;
  padding-top: 2px;
}
