.search {
  height: 650px;
  width: 1300px;
  gap: 20px;
}

.search-container {
  height: 100%;
  width: 30%;
  gap: 5px;
}

.search-container header {
  height: 75px;
  width: 100%;
  background-color: rgb(248, 161, 46);
}
.search-container header h2 {
  font-family: 'Comfortaa';
  font-weight: 100;
  color: white;
  font-size: 3rem;
  letter-spacing: 0.9rem;
  padding-left: 1rem;
  padding-top: 5px;
}

.search-bar {
  width: 100%;
  height: 3rem;
}

/*Search Bar*/
.search-bar div {
  height: 3rem;
  width: 100%;
}

.search-bar input {
  width: 100%;
  border: none;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: black;
  padding-left: 10px;
  border: solid thin var(--green-ish);
}

.list-of-artist-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  gap: 5px;
}

.individual-artist {
  width: 100%;
  background-color: var(--green-ish);
  font-size: 1.5rem;
  padding: 15px 0 15px 10px;
  color: white;
  font-family: 'Comfortaa';
  border: solid thin white;
  text-align: left;
}

.individual-artist:hover {
  background-color: rgb(248, 161, 46);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 7px;
  margin-right: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
