@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
* {
  margin: 0;
  box-sizing: border-box;

  --main-color: rgb(234, 27, 27);
  --main-color-accent: #ea9898;

  --green-ish: rgb(131, 210, 210);
  --green-ish-accent-1: rgb(124, 198, 198);
  --green-ish-accent-2: rgb(102, 195, 195);
  --green-ish-accent-3: rgb(118, 202, 202);

  --blue-ish: rgb(183, 221, 244);
  --blue-ish-accent: rgb(146, 201, 236);
}

.display-none {
  display: none;
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1024px) {
  .app {
    margin: auto;
    width: 100vw;
  }

  .nav-container {
    margin-top: 0;
  }

  nav {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .main-container {
    gap: 5px;
    height: 2500px;
  }

  .logo {
    width: 70%;
    text-align: center;
  }

  .top {
    flex-direction: column;
    gap: 5px;
    height: 2000px;
  }

  .top-left,
  .top-right {
    width: 100%;
    font-size: 10px;
  }

  .top-left {
    height: 30%;
  }

  .top-right {
    height: 70%;
  }

  .featured-artist-container header h2,
  .random-art header h2 {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
  }

  .featured-artist-description {
    height: 30%;
  }

  .featured-artist-description h2 {
    font-size: 1.5rem;
  }

  .random-art header button {
    width: 45px;
  }

  .search {
    flex-direction: column;
    gap: 5px;
  }

  .results {
    width: 100%;
    height: 30%;
  }

  /* .results > div:nth-child(2) {
    display: none;
  } */

  .results-info h1 {
    font-size: 3rem;
  }

  .results > div:nth-child(1) {
    grid-column: 1 / 9;
    grid-row: 1 / 9;
  }

  .results > div:nth-child(2) {
    display: none;
  }

  .search-container {
    width: 100%;
    height: 70%;
  }

  .modal {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .left,
  .right {
    width: 100%;
  }

  .right {
    height: 300px;
    padding: 0;
  }

  .images-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 100px);
  }

  .list-of-artist-container {
    height: 100%;
  }

  .random-art section div div:nth-child(2) {
    height: 40%;
  }
}

@media only screen and (max-width: 414px) {
  .main-container {
    height: 1400px;
  }

  .search-container {
    height: 70%;
  }

  .results {
    height: 30%;
  }

  .list-of-artist-container {
    height: 100%;
  }

  .featured-artist-description h2 {
    font-size: 0.9rem;
  }

  .random-art section div div:nth-child(2) {
    height: 20%;
  }
}
