/* body {
  overflow: hidden;
} */

.main-container {
  height: 2100px;
  width: 1300px;
  margin: auto;
  margin-top: 50px;
  gap: 30px;
}

.position-fixed {
  overflow: hidden;
  /* left: 50%;
  transform: translateX(-50%); */
}
