* {
  --nav-container-height: 50px;
}

.nav-container {
  height: var(--nav-container-height);
  margin-top: 10px;
  /* position: absolute; */
}

nav {
  height: 100%;
  width: 1300px;
  margin: auto;
}

.logo {
  height: 100%;
  width: 175px;
  background-color: var(--main-color);
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 2.5rem;
  color: white;
  padding-top: 2px;
}
