@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
* {
  margin: 0;
  box-sizing: border-box;

  --main-color: rgb(234, 27, 27);
  --main-color-accent: #ea9898;

  --green-ish: rgb(131, 210, 210);
  --green-ish-accent-1: rgb(124, 198, 198);
  --green-ish-accent-2: rgb(102, 195, 195);
  --green-ish-accent-3: rgb(118, 202, 202);

  --blue-ish: rgb(183, 221, 244);
  --blue-ish-accent: rgb(146, 201, 236);
}

.modal-is-open {
  left: 50%;
  transform: translate(-50%);
}

.display-none {
  display: none;
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
